<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsdf
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
		
		<context:component-scan base-package="com.adequate"></context:component-scan>
		<!-- enable AOP -->
		<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
    
    <!-- Manually declaring beans, gonna go the automagic way instead 
	<bean name="user" class="com.adequate.beans.User" scope="prototype">
	</bean>
	
	<bean name="userInfo" class="com.adequate.beans.UserInfo" scope="prototype">
	</bean>
	
	<bean name="review" class="com.adequate.beans.Review" scope="prototype">
	</bean>
	
	<bean name="itinerary" class="com.adequate.beans.Itinerary" scope="prototype">
	</bean>
	
	<bean name="locationList" class="com.adequate.beans.LocationList" scope="prototype">
	</bean>
	
	-->

</beans>