<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username">batemangn</property>
		<property name="hibernate.connection.password">anadequatepassword</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@batemandemo.cuxmftdafrzc.us-east-1.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<!-- May remove after create mode -->
		<property name="hibernate.show_sql">true</property>
		<!-- Remember to replace with update after creation -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Mapping classes for session factory -->
		<mapping class="com.adequate.beans.Itinerary"/>
		<mapping class="com.adequate.beans.LocationList"/>
		<mapping class="com.adequate.beans.Review"/>
		<mapping class="com.adequate.beans.Person"/>
		<mapping class="com.adequate.beans.Location"/>
	</session-factory>
</hibernate-configuration>