<div class="container-fluid parallax" style="text-align:center; height: 100%">

 <br>
 <br>

  <!-- Login form -->
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input type="text" placeholder="first name"/>
        <input type="text" placeholder="last name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
      </form>
    </div>
  </div>

</div>
