<div class="container-fluid parallax" style="text-align:center; height: 100%">

 <br>
 <br>

  <!-- Login form -->
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input [ngClass]="{'issue': invalidEmail}" type="text" [(ngModel)]="regusername" name="regusername" placeholder="email address"/>
        <input type="text" [(ngModel)]="regfirstname" name="regfirstname" placeholder="first name"/>
        <input type="text" [(ngModel)]="reglastname" name="reglastname" placeholder="last name"/>
        <input type="password" [(ngModel)]="regpassword" name="regpassword" placeholder="password"/>
        <button (click)="register()">create</button>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
      </form>
    </div>
  </div>

</div>
