<app-navigation></app-navigation>

<div class="form container text-center">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <!-- TODO: Change images -->
          <div class="item active">
            <img class="imgItem" src="https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Los Angeles">
          </div>

          <div class="item">
            <img class="imgItem" src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Chicago">
          </div>

          <div class="item">
            <img class="imgItem" src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?h=350&auto=compress&cs=tinysrgb"  alt="New York">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>

    </div>


    <div class="title">
      <h1>{{placeName}}</h1>
    </div>
    <br />
    <div class="title">
      <h4 [innerHTML]="numStars"></h4>
    </div>
    <br />
    <div>
      <p>
        {{placeDesciption}}
      </p>
    </div>
    <div class="col-sm-4">
      <app-review-card></app-review-card>
    </div>
    <div class="col-sm-4">
      <app-review-card></app-review-card>
    </div>
    <div class="col-sm-4">
      <app-review-card></app-review-card>
    </div>
    <div class="col-sm-4">
      <app-review-card></app-review-card>
    </div>
    <div class="col-sm-4">
      <app-review-card></app-review-card>
    </div>
    <div class="col-sm-4">
      <app-review-card></app-review-card>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Walk</button>
      <button type="button" class="btn btn-secondary">Drive</button>
      <button type="button" class="btn btn-secondary">Fly</button>
    </div>
    <br />
    <br />
    <div>
      <img src="" alt="Google Maps goes here"/>
    </div>

</div>
