<app-navigation></app-navigation>

<div class="form container text-center">

    <div class="col-sm-6">
        <h1> {{user.username}} </h1><br>
        <!-- Should be a fixed size image -->
        <div class= "profilePic">
          <img src="{{user.profilePic}}" class="img-rounded .img-responsive" alt="Profile Picture" height="256" width="256">
        </div>
        <br>
    </div>
    <div class="col-sm-6">
        <div>
            <br><br><br><br>
            <label for="username"> Username </label><br>
            <p id="username"> {{user.username}} </p>
            <br><br>
        </div>
        <div>
            <label for="firstname"> First Name </label><br>
            <p id="firstname"> {{user.firstname}} </p>
            <br><br>
        </div>

        <div>
            <label for="lastname"> Last Name </label><br>
            <p id="lastname"> {{user.lastname}} </p>
        </div>
  
        <br>
    </div>

  <div>
        <label for="desc">Bio</label>
        <p id="desc"> {{user.description}} </p>
  </div>

  <br>
  <br>
  <button>Save</button>

  <br><br><br>

  <button data-toggle="collapse" data-target="#saved">Saved Trips</button>

<!-- Loop through list of saved places here *ngFor -->
    <div id="saved" class="collapse">
        <br>
        <div class="col-sm-6">
            <app-user-card></app-user-card>
        </div>
        <div class="col-sm-6">
            <app-user-card></app-user-card>
        </div>
        <br>
        <div class="col-sm-6">
            <app-user-card></app-user-card>
        </div>
        <div class="col-sm-6">
            <app-user-card></app-user-card>
        </div>
    </div>


</div>