@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 960px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.blurb {
  font-family: "Roboto", sans-serif;
  height: 40px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-family: "Roboto", sans-serif;
}

.advancedToggle {
    background-color: #ffffff;
    text-align: right;
    margin-right: 8%;
}
