<!--
  TODO:: Add extra search functionality here
  -Search for people / place
  -Search parameters
  -Search functionality
-->
<h1 class="title" >Adequate Trips</h1>
<br />
<br />
<!-- Search form -->
<div class="form container">
  <form class="form-inline" action="search">

      <div class="login-form">

            <input type="text" placeholder="Find an adequate trip!"/>
            <button type="submit" class="btn btn-default">Search</button>
      </div>
        <p *ngIf="searchPeople" data-toggle="collapse" class="advancedToggle" data-target="#advanced" (click)="toggleAdvanced()" [innerHTML]="advancedString"></p>

  </form>
  <br *ngIf="!searchPeople" />
  <div>
    <div class="row align-items-center">
      <input type="checkbox" (click)="togglePeople()" /><span class="addFont">  Search People</span>
    </div>
  </div>
  <br />
  <br />

  <!-- Advanced searc options dropdown -->
  <div  id="advanced" class="collapse">

      <div *ngIf="searchPeople" class="slidecontainer">

        <div class="row">
          <div >
            <span class="addFont"> Distance: {{ searchDistance }} miles </span>
            <br />
            <br />
            <input [(ngModel)]="searchDistance"
            type="range" min="1" max="50" value="10" class="slider" id="distanceSlider" name="searchDistanceSlider">
          </div>
          <br />
          <div>
            <span class="addFont"> Price: {{ searchPriceString }} </span>
            <br />
            <br />
            <input [(ngModel)]="searchPrice"
            (change) = "changePriceString()"
            type="range" min="1" max="4" value="1" class="slider" id="priceSlider" name="searchPriceSlider">

          </div>
          <br />
          <div>
            <span class="addFont" [innerHtml]="searchRatingString"></span>
            <br />
            <br />
            <input [(ngModel)]="searchRating"
            (change) = "changeRatingString()"
            type="range" min="1" max="5" value="1" class="slider" id="ratingSlider" name="searchRatingSlider">

          </div>
        </div>
      </div>

    </div>

</div>
