<!--
  TODO:: Add extra search functionality here
  -Search for people / place
  -Search parameters
  -Search functionality
-->
<h1 class="title" >Adequate Trips</h1>
<br />
<br />

<!-- Search form -->
<div class="form container">
  <form class="form-inline">

      <div class="login-form">
            <input [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" list="searchText" placeholder="Find an adequate trip!"  (keyup)="loadAutocomplete()"/>
            <button type="submit" (click)="populateSearchResults()" class="btn btn-default">Search</button>
            <div *ngIf="!searchPeople">
              <datalist *ngIf="showAutocomplete" class="autocomplete" id="searchText">
                <div *ngFor="let place of listPlaces; let adfas of listPlaces[place]">
                  <option class="addFont" value={{place.description}} ></option>
                </div>
              </datalist>
            </div>

      </div>
        <p *ngIf="!searchPeople" data-toggle="collapse" class="advancedToggle" data-target="#advanced" (click)="toggleAdvanced()" [innerHTML]="advancedString"></p>

  </form>
  <br *ngIf="searchPeople" />
  <div>
    <div class="row align-items-center">
      <input type="checkbox" (click)="togglePeople()" /><span class="addFont">  Search People</span>
    </div>
  </div>
  <br />
  <br />

  <!-- Advanced searc options dropdown -->
  <div  id="advanced" class="collapse">

      <div *ngIf="!searchPeople" class="slidecontainer">

        <div class="row">
          <div>
            <span class="addFont">Categories</span>
            <br />
            <br />
            <div class="mat-button-toggle-group" role="group" (click)="setSearchCategory()" aria-label="Basic example" >
              <button type="button" class="btn btn-secondary" (click)="onclickHotel()">Hotel</button>
              <button type="button" class="btn btn-secondary" (click)="onclickFood()">Food</button>
              <button type="button" class="btn btn-secondary" (click)="onclickBars()">Bars</button>
              <button type="button" class="btn btn-secondary" (click)="onclickNightClub()">Night Club</button>
              <button type="button" class="btn btn-secondary" (click)="onclickShopping()">Shopping</button>
              <button type="button" class="btn btn-secondary" (click)="onclickMuseum()">Museum</button>
            </div>
          </div>
          <br />
          <div >
            <span class="addFont"> Distance: {{ searchDistance }} miles </span>
            <br />
            <br />
            <input [(ngModel)]="searchDistance"
            type="range" min="1" max="30" value="10" class="slider" id="distanceSlider" name="searchDistanceSlider">
          </div>
          <br />
          <div>
            <span class="addFont"> Price: {{ searchPriceString }} </span>
            <br />
            <br />
            <input [(ngModel)]="searchPrice"
            (change) = "changePriceString()"
            type="range" min="1" max="4" value="1" class="slider" id="priceSlider" name="searchPriceSlider">

          </div>
          <br />
        </div>
      </div>

    </div>
    <div *ngFor="let inputPlace of listResultPlaces" >
      <div class="col-sm-4">
        <app-place-card [place]="inputPlace"></app-place-card>
      </div>
    </div>

</div>
