@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 960px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-inline input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 75%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 15%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.title {
  font-family: "Roboto", sans-serif;
}

.addFont {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 10px;
}

.autocomplete {
  font-family: "Roboto", sans-serif;
  text-align: left;
  outline: 0;
  background: #f2f2f2;
  width: 75%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}

.advancedToggle {
    background-color: #ffffff;
    text-align: right;
    font-family: "Roboto", sans-serif;
    margin-right: 8%;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    align-content: center;
    font-family: "Roboto", sans-serif;
    display: inline-block;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    font-family: "Roboto", sans-serif;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    font-family: "Roboto", sans-serif;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    font-family: "Roboto", sans-serif;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
